.titles {
	> a {
		text-decoration: none;
		font-family: "Graphik Web","Arial","Helvetica",sans-serif;
		font-size: 0.7em;
		color: black;
		white-space: nowrap;
		margin: 0.5em;
	}
}
.outerBox {
	width: 14.125em;
    height: 14.375em;
    background-color: white;
    border: 1px solid #9A9A9A;
    margin: 1em 0;
    float: right;
    overflow: hidden;
}
.seller {
	text-decoration: none;
	color: #9A9A9A;
	font-size: 0.7em;
	margin: 0.5em;
}
.price {
	font-size: 0.7em;
	color: #78C042;
	float: right;
	margin: 0.5em;
}
img {
	width: 14.125em;
	height: 11.25em;
}
#searchResults {
	-webkit-column-count: 3;
    height: 148.5em;
    width: 49em;
    -webkit-columns: 15em;
    margin: 0 17em;
}
body {
	background-color: #F5F5F1;
}